<template>
    <app-layout> 
        <template #header>

            Welcome to "Learn JavaScript in Fun!" Some 
            formations to build games and applications in JavaScript 
            with your passion's life. So, have fun! And choose your formation!
        
        </template>
        <div class="py-6" v-for="course in this.courseList" v-bind:key="course.id">
            <div class="mx-8 bg-white rounded shadow p-6">
            <div class="text-sm text-gray-500">Mise en ligne par {{ course.user.name }} </div>
            <div class="flex justify-between items-center">
                <div class="text-3xl mx-5"> {{ course.title }} </div>
                <div class="text-sm text-gray-400"> {{ course.episodes_count }} games</div> 
            </div>
            <div class="text-sm text-gray-500">{{ course.description }}</div>
            <a :href="'course/' + course.id" class="bg-indigo-500 text-white px-2 py-1 text-sm mt-3 inline-block rounded hover:bg-indigo-700"> Voir les jeux </a>
            </div> 
        </div>
    </app-layout>
</template>

<script>

    import AppLayout from './../../Layouts/AppLayout';


    export default {

        components: {
            AppLayout
        
        },

        props: ['courses'],

        data() {
            return {
                courseList: this.courses
            }
        },

        mounted() {
            console.log(this.courseList);
        }

    }

</script>