<template>
    <div>
        <button type="button" class="bg-gradient-to-r from-teal-400 to-blue-500 
        hover:from-pink-500 hover:to-orange-500 text-white font-semibold px-4 py-2 rounded shadow">
            Terminé ?
        </button>
    </div>
</template>

<script>
export default {
    
}
</script>